{
  "env": {
    "browser": false,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "airbnb-base"],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".json"]
      }
    }
  },
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "import/extensions": [
      "error",
      "always",
      { "js": "always", "json": "always" }
    ]
  }
}
